/* ================== CARD ====================== */
.cards {  
  display: grid;   
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;   
  grid-gap: 1rem;   
}

.phds {
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}
      
.card {   
  border: 2px solid #e7e7e7;   
  border-radius: 4px;   
  padding: .5rem;   
  min-width: 0;
}

.card-content {
  font-size: .75rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}