body, html {
    font-family: 'Raleway', sans-serif;
    color: #000;
    width: 100% !important;
    height: 100% !important;
}
h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    color: #333;
    text-transform: uppercase;
}
h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}
h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-size: 16px;
    text-align: justify;
}
p.intro {
    margin: 12px 0 0;
    line-height: 24px;
}
a {
    color: #72a411;
}
a:hover, a:focus {
    text-decoration: none;
    color: #72a411;
}
ul, ol {
    font-size: 16px;
    margin-left: 30px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
ul, ol {
    padding: 0;
}
hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #8eb640;
    margin: 0;
    margin-bottom: 40px;
    border: 0;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}
/* Navigation */
#menu {
    padding: 20px;
    transition: all 0.8s;
}
#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
.navbar-brand{
    padding: 0px;
}
.navbar-brand img{
    width: 125px;
}
#menu a.navbar-brand {
    font-size: 36px;
    color: #8eb640;
    font-weight: 700;
    letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
    color: #8eb640;
}
.on {
    background-color: #262626 !important;
    padding: 0 !important;
    padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #8eb640 !important;
    background-color: transparent;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #8eb640;
    border-color: #8eb640;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
.section-title .overlay {
    padding: 50px 0 50px 0;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255,255,255,1);
    font-size: 36px;
    margin-bottom: 70px;
}
.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #72a411;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 0;
    margin-top: 20px;
    transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #fff;
    background-color: #628d0f;
}

.intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .overlay {
    background: rgba(0,0,0,0.1);
}
.intro h1 {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}
.intro span {
    color: #a7c44c;
    font-weight: 600;
}
.intro p {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}
header .intro-img{
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
}

header .intro-img img{
    width: 60%;
}

#about {
    padding: 120px 0;
}
#about h3 {
    font-size: 20px;
}
#about .about-text {
    margin-left: 10px;
}
#about .about-img {
    display: inline-block;
    position: relative;
    margin-top: 150px;
    margin-right: 10px;
}
#about .about-img:before {
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
#about p {
    line-height: 24px;
    margin: 15px 0 15px;
}

#people {
    padding: 0 0 60px 0;
}
#people .section-title {
    background: #444 url(../img/menu-bg.jpg) center center no-repeat fixed;
    background-size: cover;
}
#people .section-title h2 {
    color: #fff;
}
#people img {
    width: 300px;
}
#people h3 {
    padding: 10px 0;
    text-transform: uppercase;
}
#people .people-section hr {
    margin: 0 auto;
}
#people .people-section {
    margin: 0 20px 80px;
}
#people .menu-section-title {
    font-size: 26px;
    display: block;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}
#people .person {
    margin: 10px 0;
    font-size: 18px;
}
#people .person-name {
    font-weight: 600;
    font-size: 17px;
}
#people .person-description {
    font-style: italic;
    font-size: 15px;
}
#people .menu-item-price {
    float: right;
    font-weight: 600;
    color: #555;
    margin-top: -26px;
}
#issse {
    color: #fff;
    background: #444 url(../img/salerno.jpg) center top no-repeat fixed;
    background-size: cover;
}
#issse .overlay {
    padding: 200px 0 200px 0;
    background: rgba(0, 0, 0, 0.6);
}
#issse h2, #issse p {
    color: #fff;
}
#issse hr {
    background: #fff;
}
#issse h3 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin: 5px 0;
}
#issse-link {
    padding: 90px 0;
    color: #fff;
    background: rgb(142,182,64);
    background: -moz-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb640', endColorstr='#779936', GradientType=0 ); /* IE6-9 */
}
#issse-link .overlay {
    padding: 80px 0;
    background: #8eb640;
}
#issse-link h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
#issse-link a {
    color: #fff;
}
#issse-link hr {
    background: #fff;
}
#issse-link h3 {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0;
}
/* Contact Section */
#contact {
    padding: 100px 0 60px 0;
    background: #F6F6F6;
}
#contact .section-title p {
    color: #777;
}
#contact form {
    padding: 0;
}
#contact h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #555;
}
#contact .text-danger {
    color: #cc0033;
    text-align: left;
}
label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}
#contact .contact-item {
    margin: 20px 0 40px 0;
}
#contact .contact-item span {
    font-weight: 400;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: inline-block;
}
#contact .contact-item p {
    font-size: 16px;
}
/* Footer Section*/
#footer {
    background: #262626;
    padding: 30px 0 20px 0;
}
#footer h3 {
    color: #8eb640;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer .copyrights {
    padding: 20px 0;
    margin-top: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#779936+0,8eb640+50 */
    background: rgb(119,153,54); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 ); /* IE6-9 */
}
#footer .social {
    margin: 20px 0 30px 0;
}
#footer .social ul li {
    display: inline-block;
    margin: 0 20px;
}
#footer .social i.fa {
    font-size: 26px;
    padding: 4px;
    color: #fff;
    transition: all 0.3s;
}
#footer .social i.fa:hover {
    color: #eee;
}
#footer p {
    font-size: 15px;
    color: rgba(255,255,255,0.8)
}
#footer a {
    color: #f6f6f6;
}
#footer a:hover {
    color: #333;
}
